

.Timer {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 60px;
    
    position: relative;
    justify-content: center;
    display: grid;
    
}

.buttons {
    justify-content: center;
    display:flex;
}